<!doctype html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta charset="utf-8">
	<meta http-equiv="cache-control" content="no-cache" />
	<title>Who Am I?</title>
	<meta name="description" content="">

	<meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
	<link rel="stylesheet" href="/javascripts/vendor/js-cover-flow/coverflow.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />
	
	<script src="/javascripts/vendor/js-cover-flow/coverflow.js"></script>
	<script src="/javascripts/vendor/jquery-2.0.0.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
	<script src="http://www.parsecdn.com/js/parse-1.2.7.min.js"></script>
	<script src="/javascripts/vendor/underscore-min.js"></script>
</head>
<body>
	<div role="main">
		<section class="video">
			<iframe width="680" height="360" src="http://www.youtube.com/embed/Yj1TXR68BPA" frameborder="0" allowfullscreen></iframe>
		</section>
		
		<section id="character-select">
			<div class="flow" id="character-select-container">
				
			</div>
		</section>
	</div>
	
	<footer>
		<div data-role="footer">
			<div data-role="navbar">
				<ul>
					<li><a href="#" data-icon="home">Home</a></li>
					<li><a href="leaderboard.html" data-icon="star" data-role="button" data-transition="slide" data-inline="true">Leaderboard</a></li>
					<li><a href="rules.html" data-icon="grid" data-role="button" data-transition="slide" data-inline="true">Rules</a></li>
				</ul>
			</div>
		</div>
	</footer>
	
	<script src="/javascripts/app.js"></script>
	<script src="/javascripts/parse-interface.js"></script>
	<script src="/javascripts/main.js"></script>
</body>
</html>
